h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
a{
    color: #f00;
    top: 0%;
    position: fixed;
    font-size: 19px;
}
button {
    background-color: #f00;
    color: white;
    border-radius: 8px;
    height: 30px;
    width: 80px;
}
button:hover {
    box-shadow: 0 21px 25px 0 rgba(0,0,0,0.24),0 31px 64px 0 rgba(0,0,0,0.19)
}